body {
    font-family: 'police';
}

/*header*/
.header{
    background-color:#3498DB;
    height: 70px;
    line-height: 70px;
}

.logo{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
}
.menu{
    float: right;
}
.menu a{
    color: #ffffff;
    margin-right: 20px;
}
.menu a:hover{
    color: #2E3E50;
}


/*bannière*/
.banner{
    width:100%;
    max-width: 100%;
}

.ban{
    width: 100%;
    max-width: 100%;
    position: relative;
}

.ban img{
    width: 100%;
    max-width: 100%;
}

.inner-banner{
    position: absolute;
    top:40% ;
    /*left: 0;*/
    width: 100%;
    text-align: center;

}

.inner-banner h1{
    color: #ffffff;
    text-shadow: 1px 1px 20px #000000;
}

.inner-banner .btn-custom{
    background-color: #3498DB;
    color: #ffffff;
}

.inner-banner .btn-custom:hover{
    background-color: #2E3E50;
}

.element{
    text-align: center;
}