<template>
</body>
 <header class = "container-fluid header col-sm-4 card text-white bg-dark mb-5" style="center: 25rem margin= 1000px; margin-left:400px;">
<div> 

  <form class="px-4 py-3">
    <div class="form-group">
        <h2>Création de compte</h2><br>
        <div class="form-group">
      <label for="exampleDropdownFormPassword1">Nom</label>
      <input type="text" class="form-control" id="exampleDropdownFormPassword1" placeholder="nom">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Prénom</label>
      <input type="text" class="form-control" id="exampleDropdownFormPassword1" placeholder="prénom">
    </div>
      <label for="exampleDropdownFormEmail1">Email</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Mot de Passe</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Confirmer Mot de Passe</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      
    </div>
    
    <button type="submit" class="btn btn-primary">Valider</button>
    
  </form>
  
</div>
 </header>
 </body>
</template>

<script>
export default {
  name: 'Create',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
body {
        color: #566787;
		background: #3D3D3D;
		font-family: 'Varela Round', sans-serif;
		font-size: 13px;
	}
.modal .modal-header{
	margin-left: 700px;
}
</style>



