<template>
  <div> rorooror</div>
</template>

<script>
export default {
  name: 'Essai',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

