<template>
	
<div class="wrap">		
    <div class="header">		
        <div class="menu">
				
            <ul>					
                <router-link to="/consultation"><li><a href="entree">Gestion des Entrées</a></li></router-link>
                <router-link to="/sortie"><li><a href="sortie">Gestion des Sorties</a></li></router-link>
                <router-link to="/login"><li><a href="connexion">Connexion</a></li></router-link>
            </ul>
			
        </div>
    </div>
</div>

</template>


<script>

export default {
name: 'Header',
data () { 
return {   
msg: 'Welcome to Your Vue.js App'  
}
  }
}
</script>



<style scoped>

.menu li{	
display: inline-block;	
}

.menu li a{
padding: 37px 120px;
color: #fff;
font-weight: bold;
background-color: burlywood;
display: block;
font-size:23px;
}

.menu li a:hover,
.menu ul li.active a{
	background-color: #CABCBC;
}

</style>