<template>
<body>
 <header class = "container-fluid header col-sm-4 card text-white bg-dark mb-5" style="center: 25rem margin= 1000px; margin-left:400px;">
<div> 

  <form class="px-4 py-3">
    <div class="form-group">
      <label for="exampleDropdownFormEmail1">Email</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Mot de Passe</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
            Sauvegarder les infos
        </label>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Connecter</button>
    
  </form>
  <div class="dropdown-divider"></div>
  <router-link to="/mdp_oublie"><p class="dropdown-item" href="#" style="color:gray;">Mot de passe oublié?</p>
    </router-link>
   <router-link to="/create"><p class="dropdown-item" href="#" style="color:gray;">Pas encore un compte?</p>
    </router-link>
   
  <!--a class="dropdown-item" href="#">Creer un compte</a-->
  



  <!--img src="../../images/header.png" class="img-fluid" alt="Responsive image"
<form>
 <div class="form-group">
   

    <label for="exampleInputEmail1">Adress Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Mot de Passe</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

    <router-link to="/create"><p class="text-right">creer votre compte ici.</p>
    
</router-link>
    
    <small id="emailHelp" class="form-text text-muted">Si vous n'avez pas un compte,vueillez créer ici.</small-->


  <!--/div>
  <button type="button" class="btn btn-outline-secondary">Supprimer</button>
  <button type="submit" class="btn btn-primary">Envoyer</button>

</form-->
</div>
 </header>
</body>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
body {
      color: #566787;
		background: #3D3D3D;
		font-family: 'Varela Round', sans-serif;
		font-size: 13px;
	}
.modal .modal-header{
	margin-left: 700px;
}
</style>



