<template>
  <div class="container mb-5"> 
  <div class = "col-sm-6 col-md-6 col-xs-12"> 
  
  <form>
  
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-3 col-form-label">Libelle</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputPassword" placeholder="">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-3 col-form-label">Quantité</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputPassword" placeholder="">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-3 col-form-label">Date</label>
    <div class="col-sm-9">
      <input type="date" class="form-control" placeholder="">
    </div>
  </div>
  
  <button type="reset" class="btn btn-secondary">Annuler</button>
  <button type="submit" class="btn btn-primary">Valider</button>
</form>
</div></div> 

</template>

<script>
export default {
  name: 'Register',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

